{% extends "todo/layout.html" %}

{% block body %}
    <h1>Tasks</h1>
    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>Tasks</th>
          <th></th>
        </tr>
      </thead>
      <tbody style=" background-color: lightblue;">
        {% for task in tasks %}
        <tr>
          <th>•</th>
          <td>
            {{ task }}
          </td>
          <td>
            <form action="{% url 'todo:remove' %}" method="post">
              {% csrf_token %}
              <input type="hidden" name="task_value" value="{{ task }}">
              <button type="submit">X</button>
            </form>
          </td>
        </tr>
        {% empty %}
            <li>No tasks.</li>
        {% endfor %}
      </tbody>
    </table>
    <br>
    <a href="{% url 'todo:add' %}">Add Tasks</a>

{% endblock %}

