{% extends "layout.html" %}

{% block body %}
    <h1>Tasks</h1>
    <div>
      <h1>Add Task</h1>
    <form action="{% url 'todo:add' %}" method="post">
        {% csrf_token %}
        <input type="text" name="description">
        <input type="date" name="deadline">
        <select name="priority">
            <option value="low">Low</option>
            <option value="medium" selected>Medium</option>
            <option value="high">High</option>
        </select>
        <button type="submit">Submit</button>
    </form>
    <br>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>Tasks</th>
          <th></th>
        </tr>
      </thead>
      <tbody style=" background-color: lightblue;">
        {% for task in tasks %}
        <tr>
          <th>•</th>
          <td>
            {{ task.description }}
          </td>
          <td>
            {{ task.deadline }}
          </td>
          <td>
            {{ task.priority }}
          </td>
          <td>
            <form action="{% url 'todo:remove' %}" method="post">
              {% csrf_token %}
              <input type="hidden" name="task_id" value="{{ task.id }}">
              <button type="submit">X</button>
            </form>
          </td>
        </tr>
        {% empty %}
            <li>No tasks.</li>
        {% endfor %}
      </tbody>
    </table>
    {% if error %}
        <p style="color: red;">{{ error }}</p>
    {% endif %}
{% endblock %}

